.message-app .input-block {
    display: flex;
    justify-content: center;
}

.message-app .input-block input {
    width: 100%;
    padding: .5rem;
    border: 2px solid rgb(90, 0, 90);
    background-color: var(--white-color);
}

.message-app .input-block button {
    padding: 0 2rem;
    cursor: pointer;

    border: 1px solid rgb(0, 187, 0);
    background-color: rgb(2, 214, 2);
    color: var(--white-color);
}

p.user-typing {
    background-color: var(--white-color);
    color: black;
    padding: 0 0 .6rem .5rem;
}
