.message-app {
    max-width: 50rem;
    margin: 2rem auto;
}

.message-app .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
    'aside content content content content';

    color: var(--white-color);
}

.message-app .content {
    grid-area: content;
}
